body {
  background-color: #121212; /* ダークグレー */
  color: #e0e0e0; /* 明るいグレー */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e1e1e; /* 少し明るいダークグレー */
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #1e1e1e;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #e0e0e0;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background-color: #1e1e1e;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}